.DS_Store
*.xcuserstate
/TechTest/TechTest.xcodeproj/project.xcworkspace/xcuserdata/chrisbirch.xcuserdatad/UserInterfaceState.xcuserstate
/TechTest/TechTest.xcodeproj/xcuserdata/chrisbirch.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
